# Database
DATABASE_URL="file:./dev.db"

# NextAuth — غيّر السكريت في الـ production!
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="yalanelab-dev-secret-change-in-production"

# Redis (اختياري للـ dev، مطلوب للـ production)
REDIS_URL=""

# Email (اختياري)
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_FROM="noreply@yalanelab.com"

# Base URL
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
