# Database — SQLite للـ dev، غيّر لـ PostgreSQL في production
DATABASE_URL="file:./prod.db"

# NextAuth — غيّر السكريت!
NEXTAUTH_URL="http://206.183.130.163:3000"
NEXTAUTH_SECRET="CHANGE_THIS_TO_RANDOM_SECRET_64_CHARS"

# Redis (اختياري)
REDIS_URL=""

# Email (اختياري)
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_FROM="noreply@yalanelab.com"

# Base URL
NEXT_PUBLIC_BASE_URL="http://206.183.130.163:3000"
